
@{
	ViewData["Title"] = "Display Data";
	string[] TableHeaders = new string[]
{
		"Id",
		"title",
		 "info" ,
		"bookquantity" ,
		"price",
		"imgfile" ,
		"cataid" ,
		"author"};


}
<div class="row">
	@foreach(ProjectBookStore.Models.Book item in ViewBag.list)
	{
		<div class="col-lg-3 col-md-3 col-xs-12">
		<div class="card" style="width: 18rem;">
  <img src="~/Images/@item.imgfile" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Books</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>
</div>
	}
</div>


	